.any-list *{
    padding: 0px;
    margin: 0px;
}

.any-list.iblock.element a{
    text-decoration: none;
}

.any-list.iblock.element.name{
    color: #172c5f;
    background: rgb(243, 243, 243);
    padding: 7px;
    border-radius: 10px;
    position: relative;
    z-index: 2;
    width: fit-content;
    margin: 7px;
}

.any-list.iblock.element.desc{
    text-overflow: ellipsis;
    background: aliceblue;
    line-clamp: 3;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
    padding: 7px;
    border-radius: 10px;
    padding-top: 25px;
    top: -20px;
    position: relative;
    z-index: 1;
}